@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
  color: #000000;
  font-family:'poppins',sans-serif;
}

.header-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  width: 85%;
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(1px); 
  box-shadow: 0 4px 12px rgba(74, 144, 226, 0.2); 
  border-radius: 12px;
  padding: 15px 40px;
  z-index: 1000;
  transition: 0.3s ease-in-out;
  flex-wrap: wrap;
}


.header-container:hover {
  backdrop-filter: blur(10px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.nav-logo .main-logo {
  height: 50px; 
  width: auto;
  transition: all 0.3s ease-in-out;
}

.nav-logo .main-logo:hover {
  transform: scale(1.1); 
  filter: drop-shadow(0 0 10px rgba(74, 144, 226, 0.5));
}

.nav-links {
  display: flex;
  gap: 20px;
}



.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 8px 12px;
  transition: 0.3s ease-in-out;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #4a90e2;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: #4a90e2;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-name .logo-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 8px 12px;
  transition: 0.3s ease-in-out;
}

.logo-name:hover {
  color: #4a90e2;
}  

.main-container {
  margin: 0 auto;
  align-items: center;

}



.Hero-wrapper {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(253, 251, 251, 0.904)
    radial-gradient(rgba(2, 170, 226, 0.712) 10%, transparent 10.1%);
  background-size: 11px 11px; 
}

.Hero-container {
  width: 100%;
  display: flex; 
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10rem;
  
}

.image-container {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  animation: slidefromtop 1.6s ease forwards;
}

@keyframes slidefromtop {
  0% {
    opacity: 0;
    transform: translateZ(-100%);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}



.image-container img {
  width: 100%;
  height: 700px;
  position: absolute;
  object-position: top;
  border-radius: 3rem;
  object-fit: cover;

}

.blob {
  position: relative;
  width:28rem;
  height: 28rem;
  overflow: hidden;
  border: 0.5rem solid rgb(93, 169, 227);
  border-radius: 50%;
  background: rgb(138, 66, 66);
  background-size: 500% 100%;
  
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.6rem;
  animation: slidefromleft 1.6s ease forwards;

}

@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(+100%);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.name-greet {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.desc-button {
  display: flex;
  flex-direction: column;
  color: rgb(75 85 99);
  gap: 1.8rem;
}

.greet {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
}

.greet-gif {
  height: 34px;
  width: 34px;
}

.text_greet {
  font-size: 1.4rem;
  font-weight: 400;
}

.text_name {
  font-size: 2.4rem;
}

.about {
  font-size: 1rem;
  font-weight: 500;

}

.name {
  color: rgb(93, 169, 227);
}

.role-cv {
  display: flex;
  gap: 0.9rem;
}

.text-role {
  width: fit-content;
  color: #5a43cb;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.7rem;
  background-color:#e4e1f0;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 10px #bfbbd1 ;
  font-weight: 500;
  font-family:"Archivo", sans-serif;

}

.download-btn {
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: #111213;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.download-btn:hover {
  background-color: #49494a;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.08);
  cursor: pointer;
}

.download-btn:active {
  background-color: #080a0b;
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}



.socials {
  position: fixed;
  top: 33%;
  left: 0%;
}   

.socialContainer {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* youtube*/
.containerTwo:hover {
  background-color: #ff0000;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* github*/
.containerFour:hover {
  background-color: #24262a;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}


#Skills {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.skills-heading {
  padding: 12px 44px;
  font-size: 48px;
  max-width: 200px;
  font-weight: 700;
  color: #0a192f;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-bottom:4rem;
}

.skills-description {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 10px auto 30px auto;
  line-height: 1.6;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.Button-1, .Button-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.toggle {
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 15px rgba(0, 153, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.toggle:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 153, 255, 0.7);
}

.toggle img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.toggle p {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: 5px;
}

#Projects {
  padding: 7rem 0rem;
  margin-top: 4rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
} 

.Project-container {
  margin-top: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 

}


.Project-heading { 
  padding: 12px 44px;
  font-size: 48px;
  font-weight: 700;
  color: #0a192f;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-bottom:4rem;

}

.Project-Cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
  padding-bottom: 4rem;

}

.project { 
  height: 100%; 
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 10px rgba(0, 153, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px; 
  transition: all 0.3s ease, box-shadow 0.3s ease;
} 

.project:hover {
  transform: scale(1.1);
}   

  

.project-img {
  margin: 2rem 0rem;
  max-width: 100%;
  height: 320px;
  display: block; 
} 

.Project-description {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 10px auto 30px auto;
  line-height: 1.6;

}

.git-button {
  color: orange;
  font-weight: 700;
}

a {
  text-decoration: none;
}


#qualification {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex; 
  justify-content: center;
  align-items: center;
}


.qualification-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qualification-heading {
  padding: 12px 44px;
  font-size: 48px;
  font-weight: 700;
  color: #0a192f;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-bottom:4rem;
}

.timeline {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background: #4a90e2;
  top: 0;
  bottom: 0;
  left: 49.5%;
  transform: translateX(-50%);
}


.timeline-item {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 3rem;
  position: relative;
}


.dot {
  width: 14px;
  height: 14px;
  background-color: #4a90e2;
  border-radius: 50%;
  position: absolute;
  left: 49.3%;
  transform: translateX(-50%);
  z-index: 2;
}


.left {
  justify-content: flex-start;
  text-align: right;
  padding-right: 5rem;

}

.right {
  justify-content: flex-end;
  text-align: left;
  padding-left: 5rem;
}


.content {
  max-width: 40%;
  padding: 1rem;
  border-radius: 8px;
  border-left: 4px solid  #4a90e2;
}


Footer {
  padding: 1rem;
  text-align: center;
}













  
  

  






  













